---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Diagrama Social — Divulgación y educación en ciencias sociales',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title"> Diagrama Social </Fragment>

    <Fragment slot="subtitle">
      Un proyecto de divulgación y educación sobre ciencias sociales. Resúmenes de libros, capítulos y artículos;
      lecciones sobre teorías sociales y métodos de investigación social; junto con análisis mediante ensayos y casos.
      Todo explicado de forma más <span class="dark:text-primary">diagramática</span> (precisa y visual)
    </Fragment>
  </Hero>

  <Features
    id="features"
    title="Contenido sobre"
    items={[
      {
        title: 'Resumenes',
        description:
          'Resumenes de libros, capítulos y artículos de ciencias sociales: historia, economía, sociología, ciencia política, antropología y más',
        icon: 'tabler:book',
      },
      {
        title: 'Lecciones',
        description:
          'Lecciones sobre teorías sociales y métodos de investigación social: métodos cuantitativos, cualitativos, mixtos y más',
        icon: 'tabler:school',
      },
      {
        title: 'Análisis',
        description:
          'Análisis mediante ensayos y casos de estudio: ensayos visuales, análisis de políticas públicas, análisis de datos, y más',
        icon: 'tabler:binary-tree',
      },
    ]}
  />

  <BlogLatestPosts title="Nuestro blog" />
</Layout>
